body{
    margin: 0;
    padding: 0;
    background: url("man_in_court.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.info-box{
    width: 360px;
    height: 450px;
    background:rgba(0,0,0,0.7);
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.info-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.info-box input{
    width: 100%;
    margin-bottom: 10px;
}
.info-box input[type="text"]
{
    border: none;
    border-bottom: 1px solid white;
    
    outline: none;
    height: 30px;
    color: black;
    font-size: 16px;
}
.info-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: gray;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
.info-box input[type="submit"]:hover
{
    cursor: pointer;
    background: navy;
    color: white;
}

.info-box a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}
.info-box a:hover
{
    color: green;
}

.info-box input:hover,.login-box input:active{
    background: #fff;
}
.info-box p b {
    margin 5px;
    padding: 5px;
    position:absolute;
    top:5%;
    left:20%;
    
    font-size: 22;
    font-family: rockwell;
    float:top;
}